.navbar {
   background: none;
   margin: 0px;
   border: 0px;
   padding: 0px;
}



ul {
	float : right;
}

li {
	color: white;
	margin-top: 20px;
	font-weight: 100;
	float : left;
	text-align: left;
}

.right {
	float: right;
	height: 100px;
}

a {
	color: white;
}

.welcome {
	font-family: 'satisfy', cursive;
	font-size: 70px;
	 margin: auto;
	background: none;
	color: #edbb99;
	 position: relative;
    left: 500px;
    top: 300px;
  background: -webkit-linear-gradient(#ffbf80, #804000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 .wel{
	font-family: 'satisfy', cursive;
	font-size: 70px;
}

.lao {

	color: white;
	 position: relative;
    left: 550px;
    top: 250px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
}
.dropdown-menu>li>a:hover {
	background-color: transparent;
}



@media only screen and (max-width: 1000px) {
		    .welcome {
			font-family: 'satisfy', cursive;
			font-size: 70px;
			 margin: auto;
			background: none;
			color: #edbb99;
			 position: relative;
		    left: 300px;
		    top: 300px;
		     background: -webkit-linear-gradient(#ffbf80, #804000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
		}

		h1 .wel{
			font-family: 'satisfy', cursive;
			font-size: 70px;
		}

		.lao {

			color: white;
			 position: relative;
		    left: 350px;
		    top: 250px;
		}
}

@media only screen and (max-width: 600px) {
		    .welcome {
			font-family: 'satisfy', cursive;
			font-size: 70px;
			 margin: auto;
			background: none;
			color: #edbb99;
			 position: relative;
		    left: 100px;
		    top: 300px;
		     background: -webkit-linear-gradient(#ffbf80, #804000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
		}

		h1 .wel{
			font-family: 'satisfy', cursive;
			font-size: 70px;
		}

		.lao {

			color: white;
			 position: relative;
		    left: 150px;
		    top: 250px;
		}
}

@media only screen and (max-width: 500px) {
	.right  {
		display: none;
	}
}